html{box-sizing:border-box}
body{
	margin:5px;
}
.login{
	float: right;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/c1.jpg');
    min-height: 100%;
    width:auto;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../images/c6.jpg");
    min-height: 400px;
    width:auto;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../images/c4.png");
    min-height: 400px;
    width:auto;
}

.w3-display-middle{
	position:absolute;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	font-size: 30px;
	color:#1e653b;
}

.center{
	text-align: center;
}
.grps{
	height: 300px;
	width:300px;
	padding: 1vw;  
}
.hover:hover{
	 opacity:0.60;
}
.grps:hover{
     opacity:0.60;
}

.block{
	padding-top: 64px;
	padding-bottom: 64px;
	background-color: #ffe6f7;
}
.foot{
	padding-top: 64px;
	padding-bottom: 64px;
	background-color:#ff4dff59;
}
.items{
	font-size:24px;
	margin-top:16px;
}
.w3-white {color:#000;background-color:#e2e2c9}

.navbar-brand{
	color:#000066;
}
.icon-bar{
	background-color: black;
}
.text{
	padding-bottom:15px;
}

.wel{
	padding-right: 2vw;
	color: white;
}
.nav{
	padding-top: 7px;
}
.about{
	padding: 0 7vw;
}

.group{
    font-size: 30px;
}
.add{
    float:right;
}
.display-groups{
    height: 20vh;
    width: 15vw;
    background-color: pink;
    margin:1vh 2vw;
    padding: 2vh 2vw;
}

.file{
    height: 250px;
    width:250px;
    position: relative;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.file:hover .frame{
  opacity: 0.3;
}

.file:hover .middle {
  opacity: 1;
}
